.footer_wrapper {
	background-color: #3498db;
	color: #ecf0f1;

	margin-top: 0;
	padding: 2em 0;

	min-height: 150px;

}


.footer {
	font-size: 3em;
	text-align: center;
}


.links {
	margin: 0 auto;
	margin-top: 50px;
	max-width: 350px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	/* border: 1px solid black; */
}


.icons {
	transform: scale(1.25);
}


a {
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover {
	color: rgb(186, 186, 193);
}