html {
	font-size: 62.5%;
} 


/* Generic Styles */ 

.hidden {
	display: none;
}

.nav_container {
	background-color: #ecf0f1;
	position: relative;
	font-size: 2em;
	min-height: 70px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}


.navbar {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	padding: 0.5em 0;

	width: 80%;
	max-width: 1100px;
}

.nav_item {
	text-align: center;
	text-transform: capitalize;
	padding: 0.25em 0;
}

.nav_link {
	text-decoration: none;
	color: #3498db;
}

.nav_link:hover {
	color: #3498db;
}

.nav_icon {
	position: absolute;
	inset: 24px 10px auto auto;

	text-decoration: none;	
	color: #3498db; 
	

	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1.5);
}


@media (min-width: 1024px) {

	.nav_container {
		font-size: 3em;
	}
	
	.navbar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.nav_item + .nav_item {
		margin-left: 4em;
	}

	.nav_icon {
		display: none;
	}
}